body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  position: relative;
}

.score-overlay {
  position: absolute;
  top: 23%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 2em; 
  z-index: 10;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(60%) contrast(119%);
    user-select: none;
  }
}

.question {
  width: 4%;
  filter: invert(100%);
  margin-top: 1%;
  margin-left: 60%; 
}

.question img:hover {
  cursor:help;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header div {
  align-items: center;
}

.activity-manager {
  margin-top: 1%;
  display: flex;
  width: 100%;
  background-color: green;
  padding: 0;
}

.activity-buttons {
  display: flex;
  margin-top: 2%;
  gap: 10px; 
  justify-content: center;
  flex-wrap: wrap;
}

.activity-button {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 10px; 
  max-width: 30%;
  min-height: 50px;
  border: 1px solid #ddd; 
  background-color: #f8f8f8; 
  border-radius: 5px; 
  cursor: pointer;
}

.activity-button h2 {
  white-space: nowrap; 
}

.header-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.header-name {
  user-select: none;
  color: white;
  margin: 0;
  margin-left: 62%;
  display: inline-block;
  text-align: center;
}

.header-name span {
  color: green;
}

.dropdown {
  width: 100%;
  margin: 0px;
  margin-bottom: 2%;
}

.dropdown button {
  color: green;
  width: 100%;
  overflow-y: auto;
  user-select: none;
}

.dropdown button:hover {
  background-color: green; 
  color: white;
}
.dropdown-content {
  max-height: 0;
  padding: 0;
  overflow: auto;
  transition: max-height 0.5s ease-out; 
  overflow-y: hidden;
}

.dropdown-content.active {
  max-height: 500px; 
  margin-bottom: 50px;
  overflow-y: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
